<h1 class='text-center mt-5'>Profile</h1>

<% if current_user %>
  <h2 class='text-center'>Welcome <%= current_user.name %>. We are glad to have you.</h2>
<% else %>
  <h2 class='text-center'>Welcome. We are glad to have you. </h2>
<% end %>