<div class="form-container">
<h2 class='mt-5 mb-3 text-center'>Foods</h2>
<% if current_user %>
  <%= button_to 'New food', new_food_path, method: :get, class: 'btn btn-success btn-sm mb-2' %>
<%end%>
  <table class='table table-hover'>
  <thead class="table-dark">
    <tr class=''>
      <th>Name</th>
      <th>Measurement unit</th>
      <th>Quantity</th>
      <th>Unit price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <%= render food %>
    <% end %>
  </tbody>
</table>
</div>

