<h1>Recipe foods</h1>

<div id="recipe_foods">
  <% if @recipe_foods.empty? %>
    <p>No recipe foods to show!</p>
  <% else %>
    <% @recipe_foods.each do |recipe_food| %>
      <%= render recipe_food %>
      <p>
        <%= link_to "Show this recipe food", recipe_food %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New recipe food", new_recipe_food_path %>
