<div class="form-container">
<h2 class='text-center mb-3'>New recipe food</h2>

<%= render "form", recipe_food: @recipe_food %>

<br>

<div>
  <%= link_to "Back to recipe", recipe_path(params[:recipe_id]) %>
</div>

</div>