.recipe-details {
  padding-inline: 20px;
}

.toggle-public-btn {
  background-color: #007bff;
  color: white;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-public-btn:hover {
  opacity: 0.8;
  color: greenyellow;
}

.summary {
  position: relative;
  width: 70%;
}

.describe {
  font-size: 2rem;
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.status {
  color: #007bff;
}

.buttons-details {
  display: flex;
  gap: 20px;
}

.ingredient-btn,
.shopping-list-btn {
  border-radius: 4px;
  box-shadow: 1px 1px 3px;
}

.ingredient-btn:hover,
.shopping-list-btn:hover {
  color: green;
}

.links {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  gap: 10px;
}

.remove-food-btn {
  padding: 0;
  font-size: 1rem;
  border: none;
  background: transparent;
  color: #007bff;
  text-decoration: underline;
}

.remove-food-btn:hover {
  color: red;
}

.btns {
  display: flex;
  gap: 10px;
}
